

.home ul li{
  padding:10px;
  margin:3%;
  color: #6f7886;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;;
  height: auto;
  background: #e0e793;
  background-color: rgba(255, 255, 255, 1);
 
 /* backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  */

}

/*.home li:last-child{
  margin-bottom: 16vh;
}*/

.home li input{
  background: #6f7886;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 1rem rgba(0,0,0,.3);
  border: none;
  width: 1rem;
  height: 1rem;

}


.home .todo{
 
 border:0px solid green;
}




.home .btn-div{
  align-self: flex-start;
  flex: 0;
  padding:3%;
  padding-top:.5%;
 border: 0px solid red;
}

.date-time{
  border:0px solid yellow;
  font-size: .8em;
  
}

.todo-info{
  flex:1;
  display:flex;
  flex-direction:column;
 border: 0px solid black;
}

