*{
    font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body{
   background: linear-gradient(360deg, rgba(82,137,181,1) 6%, rgba(175,216,242,1) 37%, rgba(237,242,243,1) 74%);
  min-height: 100vh;
  padding: 25px;
background: rgb(175,216,242);
background: linear-gradient(47deg, rgba(175,216,242,1) 60%, rgba(91,180,197,1) 100%);
}


.container{
   color: #6f7886;
  height: 100%;
}

.heading{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.form{
    
    
}
input:focus{
    outline: none;
    border: 1px;
    border:2px solid #AFD8F2;
}
input{
  box-shadow: 0 0 .1rem 0 rgba(0,0,0,.1);
    width: 100%;
    color: #6f7886;
    padding: 1rem;
    border-radius: .5rem;
    margin-top: .3rem;
    margin-bottom: 1rem;
    border: none;
    background: #E4F4F3;
    background-color: rgba(255, 255, 255, 1);
    height: 2.2rem;
}
.signin-link{
  font-size: .8rem;
  text-align: center;
}
.submit-btn{
  margin-top: 1.2rem;
  border-radius: 1rem;
}
.submit-btn button{
 background-color: #EDF2F3
 
  text-align: center;
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
}

.error{
  color:red;
  font-style: italic;
}

